<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="UTF-8"/>
        <title>Konya Bilim Merkezi</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="icon" type="image/x-icon" href="/images/icon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Konya Bilim Merkezi Ziyaretci Analizi"/>
        <meta name="author" content="Decimatech Yazilim"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="/css/sb-admin.css" rel="stylesheet"/>

        <!-- Custom Fonts -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/customDatatables.css" rel="stylesheet" type="text/css"/>


    </th:block>

</head>
<body>

</body>
</html>