<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Konya Bilim Merkezi</title>

    <th:block th:include="layouts/head :: head"></th:block>


</head>
<body>
<th:block th:include="layouts/main :: main">


</th:block>
<div>


    <div id="page-wrapper">
        <div class="container" style="margin-top: 5%">

            <div class="container">
                <div class="col-md-8 col-md-offset-2 well  ">
                    <h2 style="text-align: center">iBeacon Ekle</h2>
                    <br/>
                    <br/>
                    <form action="#" th:action="@{/beacons/create}" th:object="${beacon}" method="post">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="beaconId">Beacon UUID</label>
                                <input type="text" class="form-control" id="beaconUUID" placeholder="iBeacon UUID"
                                       th:field="*{beaconUUID}" th:value="*{beaconUUID}"/>
                            </div>
                            <div th:if="${#fields.hasErrors('beaconUUID')}" class="alert alert-danger">
                                <p th:errors="*{beaconUUID}"></p>
                            </div>

                            <div class="form-group">
                                <label for="beaconId">Beacon ID</label>
                                <input type="number" class="form-control" id="beaconId" placeholder="iBeacon ID"
                                       th:field="*{beaconId}" th:value="*{beaconId}"/>
                            </div>
                            <div th:if="${#fields.hasErrors('beaconId')}" class="alert alert-danger">
                                <p th:errors="*{beaconId}"></p>
                            </div>


                            <div class="form-group">
                                <label for="beaconClass">Beacon Sınıfı</label>
                                <input type="number" class="form-control" id="beaconClass" placeholder="Name"
                                       th:field="*{beaconClass}"/>
                            </div>


                            <button type="submit" class="btn btn-info">Beacon ekle</button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


</div>

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>