<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Konya Bilim Merkezi</title>

    <th:block th:include="layouts/head :: head"></th:block>


</head>
<body>
<th:block th:include="layouts/main :: main">


</th:block>
<div id="wrapper">
    <div id="page-wrapper" style="margin-left: 15%">
        <div class="container-fluid" style="margin-top: 5%">

            <div class="container">
                <h1>Decimatech Yazilim</h1>

            </div>
        </div>

    </div>
</div>


<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>