<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layouts/head :: head"></th:block>
    <link href="/css/dataTables.min.css" rel="stylesheet"/>
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="/css/customDataTables.css" rel="stylesheet"/>


</head>
<body>

<th:block th:include="layouts/main :: main"></th:block>

<div id="wrapper">

    <div id="page-wrapper">

        <div class="container-fluid">

            <h2 style="text-align: center">Bilim Merkezi Genel Raporu</h2>
            <br/>
            <br/>
            <br/>

            <div class="row" align="center">
                <div class="col-md-4">
                    <div align="center" class="row">
                        <canvas id="pieChart" width="250" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>Bütün Galerilerin Gezilme Oranları</h4>
                    </div>
                </div>


                <div class="col-md-8">
                    <div align="center" class="row">
                        <canvas style="margin-left: 50px" id="barChart" width="750" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>Harcanan Süre-Galeri Grafiği</h4>
                    </div>
                </div>

                <br/>
                <br/>

            </div>


            <div class="col-md-12" style="margin-top: 5%">
                <table id="reportTable" class="display cell-border" cellspacing="0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Galeri ID</th>
                        <th>Galeri Açıklama</th>
                        <th>Harcanan Süre (Dakika)</th>
                        <th>Detay</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2" style="text-align:right">Toplam:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="visit : ${tableData}">
                        <td></td>
                        <td th:text="${visit.galleryId}">0</td>
                        <td th:text="${visit.galleryName}">Onions</td>
                        <td><span id="deneme" th:text="${visit.totalTime}"></span> dakika</td>
                        <td>
                            <a th:href="@{/records/gallerytotal/__${visit.galleryId}__}">Detay</a>
                        </td>
                        <td th:text="${visit.groupTimes}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/Chart.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    function format(d) {
        // `d` is the original data object for the row


        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>0. no\'lu grubun gecirdigi sure:</td>' +
                '<td><b>' + d.group_times[0] + ' dakika</b></td>' +
                '</tr>' +
                '<tr>' +
                '<td>1. no\'lu grubun gecirdigi sure:</td>' +
                '<td><b>' + d.group_times[1] + ' dakika</b></td>' +
                '</tr>' +
                '<tr>' +
                '<td>2. no\'lu grubun gecirdigi sure:</td>' +
                '<td><b>' + d.group_times[2] + ' dakika</b></td>' +
                '</tr>' +
                '<tr>' +
                '<td>3. no\'lu grubun gecirdigi sure:</td>' +
                '<td><b>' + d.group_times[3] + ' dakika</b></td>' +
                '</tr>' +
                '</table>';
    }

    $(document).ready(function () {
        var table = $('#reportTable').DataTable({
            "columnDefs":[
                {
                    targets: [5],
                    "visible":false,
                    "searchable":false
                }
            ],
            "columns": [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                {"data": "gallery_id"},
                {"data": "gallery_desc"},
                {"data": "total_time"},
                {"data": "details"},
                {"data": "group_times"}
            ],
            "order": [[1, "asc"]],
            "pageLength": 15,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                    i.match(/<span [^>]+>([^<]+)<\/span>/)[1] * 1 :
                            typeof i === 'number' ?
                                    i : 0;
                };

                // Total over all pages
                total = api
                        .column(3)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                // Total over this page

                // Update footer
                $(api.column(3).footer()).html(
                        +total + ' dakika'
                );
            }
        });


        var ctx = $("#pieChart").get(0).getContext("2d");
        var data = /*[[${pieData}]]*/;
        var myPieChart = new Chart(ctx).Doughnut(data);

        var ctx = $("#barChart").get(0).getContext("2d");
        var data1 = /*[[${barData}]]*/;
        var myBarChart = new Chart(ctx).Bar(data1, {
            barValueSpacing: 50,
            scaleBeginAtZero: false
        });

        $('#reportTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            var times = row.data().group_times;
            if (typeof(times) === "string"){
                times = times.replace("[", "").trim();
                times = times.replace("]", "").trim();

                var result = times.split(',').map(Number);
                row.data().group_times = result;
            }


            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });


    /*]]>*/

</script>

</body>
</html>