<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layouts/head :: head"></th:block>
    <link href="/css/dataTables.min.css" rel="stylesheet"/>
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet"/>


</head>
<body>

<th:block th:include="layouts/main :: main"></th:block>

<div id="wrapper">

    <div id="page-wrapper">

        <div class="container-fluid">

            <h2 style="text-align: center"><span th:text="${galleryName}"></span> Galeri Bazlı Rapor</h2>
            <br/>
            <br/>
            <br/>

            <div class="row" align="center">
                <div class="col-md-3">
                    <div align="center" class="row">
                        <canvas id="pieChart" width="250" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>En Çok Ziyaret Edilen 3 İstasyon</h4>
                    </div>
                </div>

                <div class="col-md-3">
                    <div align="center" class="row">
                        <canvas id="beaconChart" width="250" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>Tekil Ziyaretçi Oranları</h4>
                    </div>
                </div>

                <div class="col-md-6">
                    <div align="center" class="row">
                        <canvas id="lineChart" width="750" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>Harcanan Süre-İstasyon Grafiği</h4>
                    </div>
                </div>

                <br/>
                <br/>

            </div>


            <div class="col-md-12" style="margin-top: 5%">

                <table id="reportTable" class="display cell-border" cellspacing="0">
                    <thead>
                    <tr>
                        <th>İstasyon Numarası</th>
                        <th>Harcanan Süre (Dakika)</th>
                        <th>Detay</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th colspan="1" style="text-align:right">Toplam:</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="visit : ${tableData}">
                        <td th:text="${visit.stationId}">100</td>
                        <td><span id="deneme" th:text="${visit.totalTime}"></span> dakika</td>
                        <td>
                            <a th:href="@{/records/stationtotal/__${visit.stationId}__}">Detay</a>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/Chart.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        $('#reportTable').DataTable({
            language: {
                search: "Tabloda Ara: ",
                lengthMenu: "_MENU_ Kayıt Göster",
                zeroRecords: "Sonuç Bulunamadı",
                emptyTable: "Veri Yok",
                "sInfo": "  _TOTAL_ Kayıttan _START_ - _END_ Arası Kayıtlar Gösteriliyor",
                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                }
            },
            "columnDefs": [
                {
                    "targets": [1],
                    "searchable": false
                },
                {
                    "targets": [2],
                    "searchable": false
                }
            ],
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "Hepsi"]],
            "order": [[0, "asc"]],
            "pageLength": 15,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                    i.match(/<span [^>]+>([^<]+)<\/span>/)[1] * 1 :
                            typeof i === 'number' ?
                                    i : 0;
                };

                // Total over all pages
                total = api
                        .column(1)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                // Total over this page

                // Update footer
                $(api.column(1).footer()).html(
                        +total + ' dakika'
                );
            }
        });

        var ctx2 = $("#beaconChart").get(0).getContext("2d");
        var data = /*[[${beaconStat}]]*/;
        var myBeaconChart = new Chart(ctx2).Doughnut(data, {
            tooltipTemplate: "<%= label %> : %<%= value %>"

        });

        var ctx = $("#pieChart").get(0).getContext("2d");
        var data = /*[[${pieData}]]*/;
        var myPieChart = new Chart(ctx).Doughnut(data, {
            tooltipTemplate: "<%= label %> : %<%= value %>"

        });

        var ctx1 = $("#lineChart").get(0).getContext("2d");
        var data1 = /*[[${lineData}]]*/;
        var myBarChart = new Chart(ctx1).Line(data1, {
            pointHitDetectionRadius: 10,
            bezierCurve: false,
            tooltipTemplate: "<%= label %> : <%= value %> dakika"

        });
    });
    /*]]>*/

</script>

</body>
</html>