<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layouts/head :: head"></th:block>
    <link href="/css/dataTables.min.css" rel="stylesheet"/>
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet"/>


</head>
<body>

<th:block th:include="layouts/main :: main"></th:block>

<div id="wrapper">

    <div id="page-wrapper">

        <div class="container-fluid">

            <h2 style="text-align: center">Bilim Merkezi Genel Raporu</h2>
            <br/>
            <br/>
            <br/>

            <div class="row" align="center">
                <div class="col-md-4">
                    <div align="center" class="row">
                        <canvas id="pieChart" width="250" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>Bütün Galerilerin Gezilme Oranları</h4>
                    </div>
                </div>


                <div class="col-md-8">
                    <div align="center" class="row">
                        <canvas style="margin-left: 50px" id="barChart" width="750" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>Harcanan Süre-Galeri Grafiği</h4>
                    </div>
                </div>

                <br/>
                <br/>

            </div>


            <div class="col-md-12" style="margin-top: 5%">
                <table id="reportTable" class="display cell-border" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Galeri ID</th>
                        <th>Galeri Açıklama</th>
                        <th>Harcanan Süre (Dakika)</th>
                        <th>Detay</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="visit : ${tableData}">
                        <td th:text="${visit.galleryId}">0</td>
                        <td th:text="${visit.galleryName}">Onions</td>
                        <td><span th:text="${visit.totalTime}"></span> dakika</td>
                        <td>
                            <a th:href="@{/records/gallerytotal/__${visit.galleryId}__}">Detay</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/Chart.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $('#reportTable').DataTable({
            "order": [[0, "asc"]],
            "pageLength": 15
        });
        var ctx = $("#pieChart").get(0).getContext("2d");
        var data = /*[[${pieData}]]*/;
        var myPieChart = new Chart(ctx).Doughnut(data);

        var ctx = $("#barChart").get(0).getContext("2d");
        var data1 = /*[[${barData}]]*/;
        var myBarChart = new Chart(ctx).Bar(data1, {
            barValueSpacing: 50,
            scaleBeginAtZero: false,

        });
    });
    /*]]>*/

</script>

</body>
</html>