<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layouts/head :: head"></th:block>
    <link href="/css/dataTables.min.css" rel="stylesheet"/>
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet"/>


</head>
<body>

<th:block th:include="layouts/main :: main"></th:block>

<div id="wrapper">

    <div id="page-wrapper">

        <div class="container-fluid">

            <h2 style="text-align: center">İstasyon Bazlı Rapor</h2>
            <br/>
            <br/>
            <br/>

            <div class="row" align="center">
                <div class="col-md-3">
                    <div align="center" class="row">
                        <canvas id="pieChart" width="250" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>Gruplara Göre Ziyaret Oranları</h4>
                    </div>
                </div>

                <div class="col-md-3">
                    <div align="center" class="row">
                        <canvas id="beaconChart" width="250" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>Tekil Ziyaretçi Oranı</h4>
                    </div>
                </div>

                <div class="col-md-6">
                    <div align="center" class="row">
                        <canvas id="lineChart" width="750" height="250"></canvas>
                        <br/>
                        <br/>
                    </div>
                    <div align="center" class="row">
                        <h4>Harcanan Süre-Grup Grafiği</h4>
                    </div>
                </div>

                <br/>
                <br/>

            </div>

            <div class="col-md-12" style="margin-top: 5%">

            <table id="reportTable" class="display cell-border" cellspacing="0">
                <thead>
                <tr>
                    <th>İstasyon Numarası</th>
                    <th>Grup No</th>
                    <th>Harcanan Süre (Dakika)</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th colspan="2" style="text-align:right">Toplam:</th>
                    <th></th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="visit : ${tableData}">
                    <td th:text="${visit.stationId}">100</td>
                    <td th:text="${visit.beaconClass}">100</td>
                    <td><span id="deneme" th:text="${visit.totalTime}"></span> dakika</td>
                 </tr>
                </tbody>
            </table>

            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/Chart.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        $('#reportTable').DataTable({

            "order": [[1, "asc"]],
            "pageLength": 15,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                    i.match(/<span [^>]+>([^<]+)<\/span>/)[1] * 1 :
                            typeof i === 'number' ?
                                    i : 0;
                };

                // Total over all pages
                total = api
                        .column(2)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                // Total over this page

                // Update footer
                $(api.column(2).footer()).html(
                        + total + ' dakika'
                );
            }
        });

        var ctx = $("#pieChart").get(0).getContext("2d");
        var data = /*[[${pieData}]]*/;
        var myPieChart = new Chart(ctx).Doughnut(data);

        var ctx1 = $("#beaconChart").get(0).getContext("2d");
        var data2 = /*[[${beaconStat}]]*/;
        var myPieChart = new Chart(ctx1).Doughnut(data2);

        var ctx = $("#lineChart").get(0).getContext("2d");
        var data1 = /*[[${barData}]]*/;
        var myBarChart = new Chart(ctx).Bar(data1, {
            barValueSpacing: 50,
            scaleBeginAtZero: false,
        });
    });
    /*]]>*/

</script>

</body>
</html>