<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="layouts/head :: head"></th:block>
    <link href="/css/dataTables.min.css" rel="stylesheet"/>
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet"/>


</head>
<body>

<th:block th:include="layouts/main :: main"></th:block>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <h2 style="text-align: center">Kayıtlı Ziyaretlerin Listesi</h2>
            <br/>
            <br/>
            <br/>


            <table id="visitTable" class="display cell-border" cellspacing="0">
                <thead>
                <tr>
                    <th>Visit ID</th>
                    <th>İstasyon Id</th>
                    <th>Beacon UUID</th>
                    <th>Beacon Sınıfı</th>
                    <th>Galeri Adı</th>
                    <th>Geçirilen Süre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="visit : ${visits}">
                    <td th:text="${visit.id}">Onions</td>
                    <td th:text="${visit.stationId}">Onions</td>
                    <td th:text="${visit.beaconUUID}">Yok</td>
                    <td th:text="${visit.beaconClass}">Yok</td>
                    <td th:text="${visit.galleryName}">Yok</td>
                    <td th:text="${visit.elapsedTime}">Yok</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#visitTable').DataTable({
            language: {
                search: "Tabloda Ara: ",
                lengthMenu: "_MENU_ Kayıt Göster",
                zeroRecords: "Sonuç Bulunamadı",
                emptyTable: "Veri Yok",
                "sInfo": "  _TOTAL_ Kayıttan _START_ - _END_ Arası Kayıtlar Gösteriliyor",
                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                }
            },
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "Hepsi"]],
            "order": [[0, "asc"]],
            "pageLength": 50

        });
    });
</script>
</body>
</html>